<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="POST">
        <label for="alias">Alias:</label>
        <input type="text" id="alias" name="alias" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="/register">Regístrate aquí</a>
</body>
</html>
