<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <style>
        /* Hacer que la imagen de perfil sea circular y más pequeña */
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%; /* Hacer la imagen circular */
            object-fit: cover; /* Ajustar la imagen dentro del círculo */
            border: 2px solid #000; /* Borde alrededor de la imagen */
        }
    </style>
</head>
<body>
    <h1>Bienvenido, {{ user }}</h1>

    <p>Foto de perfil:</p>
    {% if user_foto %}
        <img src="{{ url_for('static', filename='uploads/' + user_foto) }}" alt="Foto de Perfil" class="profile-picture">
    {% else %}
        <p>No has subido una foto de perfil.</p>
    {% endif %}
</body>
</html>
