{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Bienvenido, {{ session['alias'] }}</h1>
        <ul class="profile-info">
            <li>
                {% if user_foto %}
                    <img
                    src="{{ url_for('static', filename='uploads/' + user_foto) }}"
                    alt="Foto de Perfil"
                    class="profile-picture"
                    />
                {% else %}
                    <img
                        src="{{ url_for('static', filename='uploads/default_profile.png') }}"
                    alt="Foto de Perfil"
                    class="profile-picture"
                    />
                {% endif %}
            </li>
            <li>
                <p><b>Nombre:</b> {{ session['nombre'] }}</p>
            </li>
            <li>
                <p><b>Alias:</b> {{ session['alias'] }}</p>
            </li>
            <li>
                <p><b>Fecha de nacimiento:</b> {{ session['fecha_nacimiento'] }}</p>
            </li>
            <li>
                <p><b>Forma de pago:</b> {{ session['forma_pago'] }}</p>
            </li>
        </ul>
    </div>

    <div class="houses-container">
        <h1>Mis casas</h1>
        {% for casa in casas %}
            <div class="house-card">
                <img src="{{ url_for('static', filename='uploads/' + casa.foto_principal) }}" alt="Foto de la casa">
            </div>
        {% endfor %}
        {% if not casas %}
            <p><i><b>No tienes casas registradas.</b></i></p>
        {% endif %}
    </div>

    <!-- Resto del contenido específico de la página de usuario -->
{% endblock %}