<!DOCTYPE html>
<html>
<head>
    <title>Validar Correo</title>
</head>
<body>
    <h2>Validación del Código</h2>
    <p>Se ha enviado un código a tu correo. Por favor, ingrésalo a continuación:</p>
    <p><strong>Tienes 2 minutos para ingresar el código. Si el código expira, puedes solicitar uno nuevo solo una vez.</strong></p>
    <form action="/validar_correo" method="POST">
        <label for="codigo">Código de Verificación:</label>
        <input type="text" id="codigo" name="codigo" required>
        <br>
        <button type="submit">Validar</button>
    </form>
</body>
</html>
